#main{
    background-color: #2727ec;
    width: 100%;
    height: 95vh;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.26);
}

#sub{
    background-color: rgb(109, 41, 255);
    width: 100%;
    background-image: linear-gradient(to left, rgb(81, 18, 239), rgb(150, 8, 245));
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.26)
}




    







